<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--  MyBatis ResultType 패키지 경로 설정  -->
    <typeAliases>
        <package name="com.ssg.meowcoffee.domain"/>
        <package name="com.ssg.meowcoffee.util"/>
    </typeAliases>
</configuration>