<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--  MyBatis ResultType 패키지 경로 설정  -->
    <typeAliases>
        <package name="com.ssg.meowcoffee.domain"/>
        <package name="com.ssg.meowcoffee.util"/>
    </typeAliases>

    <!-- 여기에 TypeHandler를 명시적으로 등록합니다. -->
    <typeHandlers>
        <!-- javaType에 Enum 클래스를, handler에 핸들러 클래스를 지정합니다. -->
        <typeHandler javaType="com.ssg.meowcoffee.domain.InboundStatus"
                     handler="com.ssg.meowcoffee.util.InboundStatusTypeHandler"/>
    </typeHandlers>
</configuration>